@import 'public';

.detail{
	width: 100%;
	.detail-container{
		width: 1140px;
		margin: 0 auto;
		padding-top: 40px;
		padding-bottom: 20px;
		.tvlist-ul{
			height: 20px;
			margin-bottom: 10px;
			li{
				float: left;
				font-size: 14px;
				color: #333;
				margin: 0 5px;
			}
		}
		
		.detail-div{
			width: 100%;
			height: 600px;
			background: #ffffff;
			.detail-div-left{
				width: 58%;
				float: left;
				position: relative;
				padding-right: 15px;
				padding-left: 15px;
				.detail-left-uldiv{
					width: 72px;
					height: 540px;
					float: left;
					margin-top: 90px;
					i{
						display: block;
						width: 72px;
						height: 20px;
						font-size: 30px;
						text-align: center;
						margin: 5px 0;
						opacity: 0.5;
						cursor:pointer;
					}
					ul{
						li{
							margin-top: 15px;
							border: 1px solid #ccc;
							cursor:pointer;
							img{
								width: 100%;
								height: 66px;
							}
						}
					}
				}
				.detail-left-Bigimg{
					width: 538px;
					height: 538px;
					border: 1px solid #ccc;
					float: left;
					overflow: hidden;
					margin-left: 20px;
					position: relative;
					img{
						width: 538px;
						height: 538px;
						position: absolute;
					}
					img:nth-of-type(1){
						z-index: 10;
					}
				}
				
			}
			
			.detail-div-right{
				width: 39%;
				height: 538px;
				float: left;
				h4{
					font-size: 20px;
					font-weight: 600;
				}
				p:nth-of-type(1){
					font-size: 14px;
					color: #333;
					margin: 10px 0;
				}
				p:nth-of-type(2){
					font-size: 14px;
					color: #333;
					margin-bottom: 10px;
					strong{
						color: #ed1c24;
						font-size: 24px;
					}
					span:nth-of-type(1){
						text-decoration: line-through;
						color: #b0b0b0;
					}
					span:nth-of-type(2){
						float: right;
						margin-right: 35px;
						img{
							width: 16px;
							height: 18px;
							display: inline;
							vertical-align: center;
						}
					}
				}
				.time-div{
					width: 415px;
					height: 53px;
					line-height: 25px;
					font-size: 12px;
					background: #f8f8f8;
					padding: 10px;
					span{
						font-family: sans-serif;
						background: transparent;
						border: 1px #f30 solid;
						color: #f60;
						font-size: 11px;
						padding: 1px 2px;
						font-weight: normal;
						line-height: normal;
						border-radius: 5px;
					}
				}
				ul{
					height: 20px;
					margin-top: 50px;
					li{
						float: left;
						margin-left: 10px;
						font-size: 14px;
					}
				}
				.cartTV4{
					width: 116px;
					height: 32px;
					margin-top: 50px;
					div{
						width: 27px;
						height: 30px;
						border: 1px solid #ccc;
						float: left;
						text-align: center;
						line-height: 30px;
						cursor: pointer;//鼠标小手
					}
					.goodsInputNum{
						float: left;
						width: 50px;
						height: 28px;
						padding: 0;
						text-align: center;
					}
				}
				.div-btn-cart{
					margin-top: 50px;
					padding: 15px;
					a:nth-of-type(1){
						width: 190px;
						height: 40px;
						line-height: 40px;
						padding: 0;
						font-size: 16px;
						background: #ed1c24;
						border-color: #ed1c24;
						color: #fff;
						display: inline-block;
						text-align: center;
					}
					a:nth-of-type(2){
						width: 190px;
						height: 40px;
						line-height: 40px;
						padding: 0;
						font-size: 16px;
						background: #ff9f00;
						color: #fff;
						display: inline-block;
						text-align: center;
					}
				}
			}
		}
	}
}