body,ul,li,p,h1,h2,h3,h4,h5,h6,a,span,{margin: 0;padding: 0;}
li{
	list-style: none;
}
a{
	text-decoration: none;
	font-size: 12px;
	color: #000000;
}
img{
	display: block;
}

body,html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

@import 'public';


.big-lb{
	position: relative;
	.big-lb-list{
		width: 234px;
		height: 500px;
		background: rgba(0,0,0,0.6);
		position: absolute;
		top: 0;
		left: 105px;
		z-index: 10;
		ul{
			padding-top: 25px;
			.list-li{
				a:first-child{
					display: block;
					padding-left: 30px;
					height: 45px;
					line-height: 45px;
					color: #ffffff;
					font-size: 15px;
					i{
						float: right;
						margin-right: 25px;
					}
				}
				.lb-list-one{
					width: 454px;
					height: 500px;
					// background: yellow;
					position: absolute;
					top: 0;
					left: 234px;
					display: none;
					ul{
						float: left;
						width: 227px;
						height: 500px;
						// overflow: scroll;
						background: #ffffff;
						padding: 0;
						li{
							float: left;
							width: 227px;
							height: 76px;
							// border: 1px solid black;
							a{
								// background: red;
								padding: 18px 20px;
								line-height: 40px;
								img{
									display: inline-block;
									float: left;
								}
								span{
									float: left;
									color: #333;
									margin-left:6px;
									 font-size: 14px;
								}
							}
						}
						
					}
					ul:nth-of-type(2){
						display: none;
						background: #ffffff;
					}
				}
			}
			.list-li:hover{
				background: #ed1c24;
				.lb-list-one{
					display: block;
				}
			}
		}
	}
}

//大轮播图
.swiper-container {
	width: 100%;
	height: 500px;
	.swiper-wrapper{
		.swiper-slide{
			.LB{
				width: 100%;
				height: 500px;
			}
		}
// 		@for $i from 1 through 4{
// 			div:nth-of-type(#{$i}) .LB{
// 				background: url(../imgmin/LB#{$i}.jpg) -250px;
// 			}
// 		}
	}
	
	.swiper-button-prev{
		background: url(../imgmin/JTleft4.png) no-repeat;
		left: 50px;
	}
	.swiper-button-next{
		background: url(../imgmin/JTright4.png) no-repeat;
		right: 60px;
	}
}
.swiper-pagination-bullets{
	span{
		width:45px;
		height: 5px;
		background: #000000;
		border-radius: 0%;
	}
}

//主页list1
.list-star{
	width: 100%;
	padding-top: 20px;
	padding-bottom: 50px;
	background: #fff;
	ul{
		width: 1140px;
		height: 180px;
		margin: 0 auto;
		li{
			width: 270px;
			height: 180px;
			margin-left: 20px;
			float: left;
			img{
				width: 100%;
				height: 180px;
			}
		}
		li:nth-of-type(1){
			margin-left: 0;
			.list-star-ol{
				a{
					display: block;
					float: left;
					width: 90px;
					height: 70px;
					padding: 20px 0 0 0;
					img{
						width: 27px;
						height: 27px;
						margin: 0 auto;
					}
					p{
						text-align: center;
						font-size: 14px;
						margin-top: 10px;
						color: #ffffff;
					}
				}
				a:nth-of-type(odd){
					background: #f68387;
					transition: all 0.5s;
				}
				a:nth-of-type(even){
					background: #f2555b;
					transition: all 0.5s;
				}
				a:hover{
					background: #ee3239;
				}
			}
		}
	}
	
	//H3及下面
	.list-star-big{
		margin-top: 30px;
		width: 100%;
		h3{
			width: 1140px;
			margin: 0 auto;
			font-size: 22px;
			line-height: 50px;
			color: #767676;
			img{
				float: left;
				vertical-align: middle;
				margin-right: 15px;
				margin-top: 10px;
			}
			span{
				font-weight: 500;
				font-family: inherit;
			}
		}
		
		.starList{
			width: 1160px;
			margin-left: 105px;
			overflow: hidden;
			ul{
				width: 2280px;
				height: 305px;
				li{
					width: 250px;
					height: 305px;
					background: #f7f7f7;
					padding: 25px 10px 10px;
					position: relative;
					a{
						width: 100%;
						height: 190px;
						img{
							width: 190px;
							height: 190px;
							margin: 0 auto;
						}
					}
					p{
						width: 80%;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						margin: 0 auto;
					}
					p:nth-of-type(1){
						width: 200px;
						text-align: center;
						font-size: 16px;
						line-height: 30px;
						color: #222;
						// font-weight: 600;
						margin-top: 20px;
					}
					p:nth-of-type(2){
						line-height: 30px;
						color: #989898;
						text-align: center;
						font-size: 14px;
					}
					p:nth-of-type(3){
						color: #ed1c24;
						line-height: 30px;
						text-align: center;
						margin-bottom: 10px;
						span:nth-of-type(1){
							color: #ed1c24;
							line-height: 30px;
							text-align: center;
						}
						span:nth-of-type(2){
							text-decoration: line-through;
							color: #b0b0b0;
						}
					}
					.star-li-div{
						position: absolute;
						top: 0;
						left: 0;
						width: 270px;
						height: 40px;
						text-align: center;
						color: #fff;
						line-height: 40px;
						span{
							padding: 5px;
							border-radius: 0 0 6px 6px;
							font-size: 12px;
							background-color: #fd6871;
						}
					}
				}
			}
		}
	}
}

//大列表
.category{
	width: 100%;
	background: #F7F7F7;
	.container{
		width: 1140px;
		margin: 0 auto;
		height: 7200px;
		// background: green;
		padding-top: 30px;
		//分开设置list-content的高度
		.high-list{
			height: 1170px;
		}
		.short-list{
			height: 810px;
		}
		
		.list-content{
			// margin-top: 30px;
			// height: 1170px;
			// background: yellow;
			.h3-div{
				width: 100%;
				height: 50px;
				position: relative;
				h3{
					width: 1140px;
					margin: 0 auto;
					font-size: 22px;
					line-height: 50px;
					color: #767676;
					img{
						float: left;
						vertical-align: middle;
						margin-right: 15px;
						margin-top: 10px;
					}
					span{
						font-weight: 500;
						font-family: inherit;
					}
				}
				ul{
					height: 20px;
					position: absolute;
					right: 0;
					bottom: 10px;
					li{
						float: left;
						a{
							margin-right: 4px;
							font-size: 14px;
						}
					}
					li:nth-of-type(6) a{
						color: #ed1c24;
					}
					li:hover a{
						color: #ed1c24;
					}
				}
			}
			.img-div{
				
			}
			.container-fluid{
				.fluid1{
					width: 250px;
					height: 305px;
					background: #ffffff;
					margin-top: 20px;
					margin-left: 20px;
					padding: 25px 10px 10px;
					position: relative;
					float: left;
					a{
						width: 100%;
						height: 190px;
						img{
							width: 190px;
							height: 190px;
							margin: 0 auto;
						}
					}
					p{
						width: 80%;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						margin: 0 auto;
					}
					p:nth-of-type(1){
						width: 200px;
						text-align: center;
						font-size: 16px;
						line-height: 30px;
						color: #222;
						// font-weight: 600;
						margin-top: 20px;
					}
					p:nth-of-type(2){
						line-height: 30px;
						color: #989898;
						text-align: center;
						font-size: 14px;
					}
					p:nth-of-type(3){
						color: #ed1c24;
						line-height: 30px;
						text-align: center;
						margin-bottom: 10px;
						span:nth-of-type(1){
							color: #ed1c24;
							line-height: 30px;
							text-align: center;
						}
						span:nth-of-type(2){
							text-decoration: line-through;
							color: #b0b0b0;
						}
					}
					.star-li-div{
						position: absolute;
						top: 0;
						left: 0;
						width: 270px;
						height: 40px;
						text-align: center;
						color: #fff;
						line-height: 40px;
						span{
							padding: 5px;
							border-radius: 0 0 6px 6px;
							font-size: 12px;
							background-color: #fd6871;
						}
					}
				}
				div:nth-of-type(1),div:nth-of-type(5){
					margin-left: 0;
				}
			}
			
		}
		
	}
}

//底部新闻栏
.new{
	width: 100%;
	background: #F7F7F7;
	padding-bottom: 50px;
	.list-news{
		width: 100%;
		height: 350px;
		h3{
			width: 1140px;
			margin: 0 auto;
			font-size: 22px;
			line-height: 50px;
			color: #767676;
			img{
				float: left;
				vertical-align: middle;
				margin-right: 15px;
				margin-top: 6px;
			}
			span{
				font-weight: 500;
				font-family: inherit;
			}
		}
		.list-news-ul{
			width: 1140px;
			margin: 0 auto;
			height: 300px;
			
			//设置第一个的margin-left
			div:nth-of-type(1){
				margin-left: 0;
			}
			
			.list-news-A{
				width: 270px;
				margin-left: 20px;
				padding: 0;
				background: #ffffff;
				float: left;
				height: 300px;
				a{
					width: 270px;
					display: block;
					h4{
						line-height: 40px;
						margin: 0;
						font-size: 15px;
						font-weight: 600;
						color: #333;
						padding: 0 10px;
						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;
					}
					p{
						padding: 0 10px;
						font-size: 12px;
						color: #b0b0b0;
						overflow: hidden;
						text-overflow: ellipsis;
						line-height: 20px;
						height: 38px;
					}
					span{
						padding: 0 10px;
						color: #4b98ec;
						font-size: 12px;
					}
				}
			}
		}
	}
}





//侧边导航栏
.anchor{
	position: fixed;
	z-index: 1000;
	left: 30px;
	top:100px;
	display: none;
	ul{
		li{
			width: 40px;
			height: 45px;
			background: #888888;
			border-bottom: 1px solid #ffffff;
			transition: all 0.5s;
			a{
				display: block;
				width: 40px;
				height: 45px;
				font-size: 12px;
				color: #fff;
				text-align: center;
				line-height: 21px;
			}
			
		}
		li:nth-of-type(2),li:nth-of-type(3),li:nth-of-type(4),li:nth-of-type(5){
			a{
				padding-top: 11px;
			}
		}
		
		li:hover{
			background: #ed1c24;
		}
	}
}