.login-container{
	width: 100%;
	// height: 538px;
	height: 600px;
	background: url(../imgmin/loginBK.jpg) -280px -50px;
	.login-middle{
		width: 1140px;
		height: 100%;
		margin: 0 auto;
		position: relative;
		.login-input{
			// width: 418px;
			// height: 311px;
			height: 450px;
			background: #ffffff;
			position: absolute;
			top: 50px;
			right: 0;
			border: 1px solid #dddddd;
			.input-top{
				color: #333;
				background-color: #f5f5f5;
				padding: 10px 15px;
				border-bottom: 1px solid #dddddd;
				a{
					padding: 1px 5px;
					font-size: 12px;
					line-height: 1.5;
					border-radius: 1px;
					color: #fff;
					background-color: #f99e1e;
					border-color: #f79307;
					display: inline-block;
					float: right;
				}
			}
			.input-content{
				width: 418px;
				height: 238px;
				padding: 15px;
				.login-form{
					p{
						width: 100%;
						margin-right: -15px;
						margin-left: -15px;
						margin-bottom: 15px;
						label{
							padding-top: 7px;
							margin-bottom: 0;
							text-align: right;
							float: left;
							width: 57px;
						}
						input{
							display: block;
							width: 80%;
							padding: 6px 12px;
							font-size: 14px;
							line-height: 1.42857143;
							color: #555;
							background-color: #fff;
							background-image: none;
							border: 1px solid #ccc;
							border-radius: 2px;
							margin-left: 75px;
						}
					}
					.blur-div{
						height: 21px;
						margin-top: -9px;
						margin-bottom: 15px;
						margin-left: 70px;
						color: #ed1c24;
						span{
							display: none;
						}
					}
					p:nth-of-type(3){
						input{
							width: 30%;
							float: left;
							margin-left: 19px;
						}
						img{
							display: inline-block;
							margin: 0 20px;
						}
						a{
							color: #767676;
						}
						a:hover{
							color: #000000;
						}
					}
					.forget{
						width: 100%;
						div{
							width: 80%;
							margin-left: 56px;
							font-size: 14px;
							margin-top: 40px;
							a{
								font-size: 14px;
								color: #767676;
								display: block;
								float: right;
							}
						}
					}
					.btn-login{
						button{
							color: #fff;
							background-color: #c13e2c;
							border-color: #ac3727;
							display: inline-block;
							padding: 6px 12px;
							margin-bottom: 0;
							font-size: 14px;
							font-weight: 400;
							text-align: center;
							border: 1px solid transparent;
							border-radius: 2px;
							margin-left: 60px;
							margin-top: 20px;
							cursor: pointer;
						}
					}
				}
			}
		}
	}
}

//吸顶栏
.suction-top{
	background: #E3EBFF;
	.nav-suction-top{
		top: 20px;
	}
}